.md-typeset__table {
	min-width: 100%;
}

.md-typeset table:not([class]) {
	display: table;
}

.md-grid {
	max-width: 65rem;
}

.md-typeset .fc-search .md-input {
	background: var(--md-default-bg-color);
}

[data-md-color-scheme="slate"] .md-typeset .fc-search .md-input {
	background: var(--md-code-bg-color);
}